<article class="customer_history">
  <div class="accordion-header">
    <div>Appointment History</div>>
  </div>
  <div class="accordion-body">
    <div class="accordion-content">
      <!-- ############################# MY INFO ############################# -->
<dl>
  <dt>Jan 15, 2018 - 10:15am</dt>
  <dd>- Nail extensions - gel</dd>
  <dd>- Nail art - lvl 2</dd>
  <dd>- Swarovski crystals</dd>
  <dd>- Shaping - Squoval</dd>
  <hr>
  <dt>Feb 5, 2018</dt>
  <dd>- Nail fill - gel</dd>
  <dd>- Nail art - lvl 2</dd>
  <dd>- Swarovski crystals</dd>
  <dd>- Repair 2 nails</dd>
  <dd>- Shaping - Almond</dd>
  <hr>
  <dt>Feb 26, 2018</dt>
  <dd>- Nail fill - gel</dd>
  <dd>- Nail art - lvl 2</dd>
  <dd>- Swarovski crystals</dd>
  <dd>- Repair 1 nail</dd>
  <dd>- Hydrating Manicure</dd>
  <dd>- Shaping - Stiletto</dd>
  <hr>  
</dl>

    </div>
  </div>
</article>
