<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>DI/Grace/Brad Productions</strong> by <a href="https://http.cat/400">Fu-Q Enterprises</a>. The source code is classified <a href="http://www.abovetopsecret.com/">Above Top Secret</a>. If you read it, we may have to shoot you. The website content
        is licensed <a href="https://http.cat/403">DILLIGAF</a>.
      </p>
    </div>
  </div>
</footer>
