<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>DI/Grace/Brad Productions</strong> by <a href="https://http.cat/400">Fu-Q Enterprises</a>. The source code is classified <a href="http://www.abovetopsecret.com/">Above Top Secret</a>. If you read it, we may have to shoot you. The website content
        is licensed <a href="https://http.cat/403">DILLIGAF</a>.
      </p>
    </div>
  </div>
</footer>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="/vendor/bulma-carousel.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/carousel.js"></script>
