<nav id="topNav" class="navbar is-fixed-top">
  <div class="container is-fluid">
    <div class="navbar-burger is-active"> 
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a class="navbar-item has-text-weight-bold" href="/">
        Home
      </a>
    <a class="navbar-item" href="/products">
        Products
      </a>
    <a class="navbar-item" href="/about">
        About
      </a>
    <a class="navbar-item" href="/contact">
        Contacts
      </a>
    <div id="topNavButtons" class="navbar-item navbar-end">
      <% if (!loggedIn) { %>
        <a id="loginButton" class="button is-primary is-outlined has-text-weight-bold">Login</a>
        &nbsp;
        <a id="registerButton" class="button is-info is-outlined has-text-weight-bold">Register</a>
        <% } else { %>
          <a id="logoutButton" class="button is-primary is-outlined has-text-weight-bold">Logout</a>
          &nbsp;
          <a id="userButton" class="button is-info is-outlined has-text-weight-bold">Edit</a>
          &nbsp;
          <a id="bookNow"class="button is-danger is-outlined has-text-weight-bold" href="/booking">Book Online</a>
          <% } %>
    </div>
  </div>
</nav>
