<nav id="topNav" class="navbar is-fixed-top">
  <div class="container is-fluid">
<!--     <div class="navbar-burger is-active">
      <span></span>
      <span></span>
      <span></span>
    </div> -->
    <a class="navbar-item" href="/">
        Home
      </a>
    <a class="navbar-item" href="/products">
        Products
      </a>
    <a class="navbar-item" href="/services">
        Services
      </a>
    <a class="navbar-item" href="/contact">
        Contact Us
      </a>
    <div id="topNavButtons" class="navbar-item navbar-end">
      <% if (!loggedIn) { %>
        <a id="loginButton" class="button is-primary is-rounded">login</a>
        <a id="registerButton" class="button is-info is-rounded">register</a>
        <% } else { %>
          <a id="logoutButton" class="button is-primary is-rounded">logout</a>
          <a id="userButton" class="button is-primary is-rounded">edit</a>
          <% } %>
            <a id="bookNow"class="button is-danger is-rounded" href="/booking">Book Online</a>
    </div>
  </div>
</nav>
