<nav id="topNav" class="navbar is-fixed-top">
  <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
      Products
    </a>
    <div class="navbar-dropdown">
      <a class="navbar-item">
        Soft Gel
      </a>
      <a class="navbar-item">
        Hard Gel
      </a>
      <a class="navbar-item">
        Fill
      </a>
      <hr class="navbar-divider">
      <div class="navbar-item">
        Version 0.6.2
      </div>
    </div>
  </div>
  <a class="navbar-item" href="https://bulma.io/">
        Services
      </a>
  <a class="navbar-item" href="https://bulma.io/">
        Contact Us
      </a>
  <div id="topNavButtons" class="navbar-item is-pulled-right">
    <a id="loginButton" class="button is-success is-rounded is-pulled-right">login</a>
    <a id="registerButton" class="button is-info is-rounded is-pulled-right">register</a>
    <a class="button is-danger is-rounded is-pulled-right">Book Online</a>
  </div>
</nav>
