<section class="section">
  <div class="container is-fluid columns">
    <div class="column">
      <div class="card border-hover">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="images/nail1.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Nail Art with Jewels
            <a>@saintNailStudio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail2.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Five Fingers and Fir
            <a>@saintNailStudio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail3.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Checkout my new camera
            <a>@saintNailStudio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container is-fluid columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail4.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Prettying up!
            <a>@saintNailStudio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail5.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Playing with Lights
            <a>@saintNailStudio</a>.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail6.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Mid Summer Night Fun!
            <a>@saintNailStudio</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container is-fluid columns">
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail7.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Perfect Pedicure!
            <a>@saintNailStudio</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail8.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            Snow Ball
            <a>@saintNailStudio</a>.
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="/images/nail9.jpg">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
          Professional Nail
          <a>@saintNailStudio</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
