<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="columns">
            <div class="column is-one-quarter">
              <figure class="image is-128x128">
                <img src="/images/dog_glasses.jpg">
              </figure>
            </div>
            <div class="column is-two-thirds">
              <h1 class="title">About Us</h1>
              <p> 
                Cupcake ipsum dolor sit amet. Bonbon caramels pudding powder sugar plum bear claw jujubes soufflé cupcake. Lemon drops oat
                cake soufflé. Pie bear claw ice cream cookie tootsie roll. Soufflé macaroon caramels soufflé donut pudding. Cupcake biscuit
                cake marzipan pastry tiramisu danish jelly-o. Dessert topping carrot cake brownie sugar plum halvah candy canes jelly candy
                canes. Liquorice gingerbread gummies. Icing topping toffee jelly-o ice cream gingerbread. Soufflé bear claw tootsie roll
                lemon drops gingerbread chupa chups pastry jelly beans. Soufflé ice cream chupa chups croissant biscuit topping soufflé.
                Halvah jelly beans cotton candy gummi bears danish gummies icing cheesecake. Topping toffee toffee muffin cheesecake gummi
                bears. Candy canes carrot cake caramels. Candy lemon drops tootsie roll jelly-o chocolate cake. Tootsie roll donut muffin
                lollipop marshmallow sweet. Tart chocolate cake jelly beans jelly beans ice cream muffin macaroon jujubes. Soufflé jelly
                beans halvah.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs')%>
</body>

</html>
