<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
</head>
<body>
  <%- include('partials/nav.ejs')%>
   


   <%- include('partials/footer.ejs')%>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="/vendor/bulma-carousel.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/carousel.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</html>