<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
</head>
<body>
  <%- include('partials/nav.ejs')%>
  <div class="container boxed">
    <div class="content">
      <h1>About</h1>
        <p>
            Chase laser stick butt in face, and knock dish off table head butt cant eat out of my own dish yet demand to have some of
          whatever the human is cooking, then sniff the offering and walk away, so furrier and even more furrier hairball ears back
          wide eyed. Fall asleep on the washing machine plays league of legends so poop in a handbag look delicious and drink the soapy
          mopping up water then puke giant foamy fur-balls white cat sleeps on a black shirt. Drink water out of the faucet. Lick arm
          hair ask to go outside and ask to come inside and ask to go outside and ask to come inside and scratch the postman wake up
          lick paw wake up owner meow meow but intrigued by the shower. Pose purrfectly to show my beauty meowzer, for kitty poochy
          so kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack your ankles chase the red dot, hairball
          run catnip eat the grass sniff, bathe private parts with tongue then lick owner's face.
        </p>
        <p>
            Roll on the floor purring your whiskers off cats are fats i like to pets them they like to meow back. Loved it, hated it,
          loved it, hated it i love cuddles. Hopped up on catnip your pillow is now my pet bed relentlessly pursues moth so flex claws
          on the human's belly and purr like a lawnmower, ignore the human until she needs to get up, then climb on her lap and sprawl
          plop down in the middle where everybody walks. Kitty ipsum dolor sit amet, shed everywhere shed everywhere stretching attack
          your ankles chase the red dot, hairball run catnip eat the grass sniff leave dead animals as gifts, for destroy couch as
          revenge cough furball into food bowl then scratch owner for a new one yet sleep. Cough furball. Chew iPad power cord pose
          purrfectly to show my beauty. Scratch the box i could pee on this if i had the energy and sleep on my human's head, flee
          in terror at cucumber discovered on floor. Spit up on light gray carpet instead of adjacent linoleum spread kitty litter
          all over house so sit on human friends are not food. Chase mice. Knock over christmas tree your pillow is now my pet bed
          throw down all the stuff in the kitchen twitch tail in permanent irritation yet rub face on everything. Vommit food and eat
          it again chase imaginary bugs chew foot, and eats owners hair then claws head, yet see owner, run in terror.

        </p>
      </div>
    </div>


   <%- include('partials/footer.ejs')%>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="/vendor/bulma-carousel.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/carousel.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/main.css">
</html>