<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Now</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
    <section class="hero is-primary is-marginless">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Book Now
          </h1>
          <h2 class="subtitle">
            Get them now!
          </h2>
        </div>
      </div>
    </section>
    <form id="booking" method="post" action="/booking">
    <div class="container">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <section class="section">
                <section class="container">
                  <form>
                    <section class="section">
                      <div class="container">
                        <div class="row">
                          <div class="columns">
                            <div class="column is-one-quarter"></div>
                            <div class="column">
                              <div class="label">Date
                                <input id="datepickerDemo" class="input" type="text" placeholder="Click to Select Date">
                              </div>
                              <div class="field">
                                <label class="label">Start Time</label>
                                <div class="control">
                                  <div class="select">
                                    <select id="startTime">
                                      <!-- going to use ejs to generate the list of possible choices -->
                                      <option>Select Time</option>
                                      <option>10:00</option>
                                      <option>11:00</option>
                                      <option>12:00</option>
                                      <option>13:00</option>
                                      <option>14:00</option>
                                      <option>15:00</option>
                                      <option>16:00</option>
                                      <option>17:00</option>
                                      <option>18:00</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="field">
                                <label class="label">End Time</label>
                                <div class="control">
                                  <div class="select">
                                    <select id="endTime">
                                      <!-- going to use ejs to generate the list of possible choices -->
                                      <option>Select Time</option>
                                      <option>11:00</option>
                                      <option>12:00</option>
                                      <option>13:00</option>
                                      <option>14:00</option>
                                      <option>15:00</option>
                                      <option>16:00</option>
                                      <option>17:00</option>
                                      <option>18:00</option>
                                      <option>19:00</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                  <textarea id="bookingMessage" class="textarea" placeholder="Special Request"></textarea>
                                </div>
                              </div>
                              <div class="field is-grouped is-pulled-right">
                                <div class="control">
                                  <button class="button is-text">Cancel</button>
                                </div>
                                <div class="control">
                                  <button id="bookingButton" class="button is-link">Submit</button>
                                </div>
                              </div>
                            </div>
                            <div class="column"></div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </form>
                </section>
              </section>
            </div>
          </div>
        </article>
      </div>
    </div>

    <%- include('partials/footer.ejs')%>
</body>

</html>
