<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
  <section class="hero is-primary is-marginless">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Contacts
        </h1>
        <h2 class="subtitle">
          
        </h2>
      </div>
    </div>
  </section>
    <section class="section">
      <div class="container">
        <div class="row">
          <div class="columns is-centered">
            <div class="column is-half has-text-centered">
              <h1 class="title">Contact Us</h1>
              <hr>
              
              <p>Call Us: 123-456-789</p>
              &nbsp;
              <p>Email Us:
              <a href="">beautify@beautylabs.com</a>
              </p>
              &nbsp;
              <p>Visit Us:
                <a href="">128 W. Hastings. #350 Vancouver B.C. Canada V6B 1G8</a>
              </p>
              &nbsp;
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2603.672826130347!2d-122.98367588431125!3d49.263646879329265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486773f6945fcc3%3A0x47634096a9001e1!2s2275+Holdom+Ave%2C+Burnaby%2C+BC+V5B+2Z8!5e0!3m2!1sen!2sca!4v1520809183801" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer.ejs')%>
</body>

</html>
