<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nails by Grace</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
    <section class="section">
    <section class="main">
      <div id="carousel" class="container is-fluid"></div>
    </section>
    </section>
    <%- include('partials/products.ejs')%>
    <%- include('partials/footer.ejs')%>

</html>
