<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nails by Grace</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>
  <%- include('partials/nav.ejs')%>
      <%- include('partials/carousel.ejs')%>

    <section class="main container is-marginless">
        <!--         <div id="carousel" class="container is-three-quarters-desktop"></div> -->
    </section>
    <section class="hero is-medium is-primary is-marginless is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
        Featured Products
      </h1>
          <h2 class="subtitle">
        Primary bold subtitle
      </h2>
        </div>
      </div>
    </section>
    <%- include('partials/products.ejs')%>
      <%- include('partials/footer.ejs')%>

</html>
