<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Services</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
  <%- include('partials/nav.ejs')%>
  <div class="container">
    <div class="main section">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="has-text-weight-bold">Gel Polish</h1>
          <hr>
          <h2>Soft Gel
          <p>50</p>
          </h2>
          <p>
            Hard Gel
          </p>
        </div>
        <div class="column has-text-centered">
          <h1 class="has-text-weight-bold">Make It Fancy</h1>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer.ejs')%>
</body>
</html>